@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Mono+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --text-color: oklch(96.12% 0 0);
  --background-color: color-mix(in lab, oklch(0% 0 0) 90%, transparent);
  --tertiary-color: #b7ab98;
  --font-moglan-demo: Moglan-Demo;
  --font-jetBrains-mono: "JetBrains Mono", monospace;
}

[data-theme=dark] {
  --text-color: oklch(96.12% 0 0);
  --white-color: oklch(96.12% 0 0);
  --background-color: color-mix(in lab, oklch(0% 0 0) 90%, transparent);
  --tertiary-color: #b7ab98;
}

[data-theme=light] {
  --text-color: color-mix(in lab, oklch(0% 0 0) 90%, transparent);
  --white-color: oklch(96.12% 0 0);
  --background-color: oklch(96.12% 0 0);
  --tertiary-color: #b7ab98;
}

html,
body {
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  font-weight: 400;
  font-optical-sizing: auto;
  font-family: var(--font-jetBrains-mono);
}

p {
  margin: 0;
}

input {
  padding: 0.5em 1em;
  border-radius: 20px;
  background: var(--white-color);
  border-color: var(--text-color);
}
input::-moz-placeholder {
  color: var(--black-color);
  font-family: var(--font-jetBrains-mono);
}
input::placeholder {
  color: var(--black-color);
  font-family: var(--font-jetBrains-mono);
}
input:focus {
  outline: none;
}

textarea {
  padding: 0.5em 1em;
  border-radius: 20px;
  background: var(--white-color);
  border-color: var(--text-color);
}
textarea::-moz-placeholder {
  color: var(--black-color);
  font-family: var(--font-jetBrains-mono);
}
textarea::placeholder {
  color: var(--black-color);
  font-family: var(--font-jetBrains-mono);
}
textarea:focus {
  outline: none;
}

button {
  padding: 0.5em 1em;
  border-radius: 20px;
}
button.send {
  background: var(--background-color);
  color: var(--background-color);
  border: none;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
button.send:hover {
  cursor: pointer;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
button.send:hover svg {
  scale: 1.3;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
}
button.send svg {
  font-size: large;
  color: var(--text-color);
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.container {
  width: 100%;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 0;
  font-family: var(--font-moglan-demo);
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  position: sticky;
  top: 0;
  z-index: 999999;
}
.container-navbar ul {
  gap: 1em;
  display: flex;
  list-style: none;
  padding: 1em 2em;
  margin: 0;
}
.container-navbar li {
  padding: 10px 1em;
}
.container-navbar a {
  text-decoration: none;
  color: var(--text-color);
}
.container-navbar a:hover, .container-navbar a:active, .container-navbar a:focus {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.container-navbar .btn-dark-mode {
  padding: 1em 2em;
}

.container-ollama {
  width: 100%;
  padding: 0 2em;
}
@media screen and (min-width: 768px) {
  .container-ollama {
    padding: 0 6em;
  }
}
@media screen and (min-width: 1024px) {
  .container-ollama {
    padding: 0 10em;
  }
}
@media screen and (min-width: 1400px) {
  .container-ollama {
    padding: 0 30em;
  }
}
.container-ollama .box {
  gap: 1em;
  display: grid;
}
.container-ollama .chat-box {
  height: 50vh;
  overflow: auto;
}
.container-ollama .chat-box .container-bubble {
  margin: 1em 0;
  position: relative;
  display: grid;
}
.container-ollama .chat-box .container-bubble.user {
  justify-content: end;
}
.container-ollama .chat-box .container-bubble.bot {
  justify-content: start;
}
.container-ollama .chat-box .bubble-msg {
  padding: 0.5em 1em;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: var(--font-jetBrains-mono);
}

.container-input {
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.Typewriter {
  font-size: 80px;
}

.marquee {
  mix-blend-mode: difference;
  z-index: 999999;
}
.marquee .rfm-child {
  color: var(--white-color);
  font-style: italic;
  font-family: var(--font-moglan-demo);
  font-weight: 600;
  letter-spacing: 6px;
}

.img-myself.front {
  top: 20%;
  left: 36%;
  position: absolute;
  transform: rotate(357deg);
  z-index: 999;
}
.img-myself.front img {
  filter: contrast(0.5);
  width: 425px;
}
.img-myself.back {
  top: 16%;
  left: 34%;
  position: absolute;
  z-index: 1;
}
.img-myself.back img {
  opacity: 0.5;
  width: 475px;
}/*# sourceMappingURL=style.css.map */